node_modules
.merlin
.bsb.lock
packages/sury/**/*_test.res.mjs
packages/sury/**/*_test.js
packages/sury/**/*.test-d.js
packages/sury/artifacts
lib
coverage
.tsimp
tsconfig.tsbuildinfo
_opam/
_build/
.attest
packages/sury/index.mjs
packages/json-schema-test-suite/.suite
packages/spec/.bench-cache
spec-perf.txt
spec-perf-comment.md
